# Global Parameters
Bfield = 0.0
Teff = 4000
logg = 4.5
deltav = 0.01
vsini = 0.0
Strong_FileName = ./MoogSandbox/strong.lines
Weak_FileName = ./MoogSandbox/weak.lines
wlStart = 22040
wlStop = 22070
grid = True

# Atomic and Molecular line files for generating Moog line lists
strong_file = ./data/AbsorptionLines/VALD/lines.strong
VALD_file = ./data/AbsorptionLines/VALD/vald_master.txt
molecules = ./data/AbsorptionLines/Molecular/
gf_file = ./data/AbsorptionLines/corrections/corrected_lines.dat
doMolecules = False

# Parameters for the Moog .par file
moog_Parameters = MoogStokesPar.cfg


# Parameters for observed spectra
solar_datafile = ./data/ObservedSpectra/Livingston_Solar/solar_spectrum.out

# Parameters for saving the output
outbase = StokesExample
outdir = ./Output/
